<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.pushHeadless" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:rim="http://www.blackberry.com/ns/widgets">
    <name>Push Headless WebWorks Application</name>
    <author email="jkeshavarzi@blackberry.com">James Keshavarzi</author>
    <description>A sample WebWorks application with a headless component that registers for push notifications on install</description>
    <content src="index.html" />
    <platform name="blackberry10">
        <config-file target="bar-descriptor.xml" parent="/qnx">
            <!-- see https://developer.blackberry.com/native/documentation/cascades/device_platform/headless_apps/create_headless_app.html#ufa1380035719085 -->
            <asset entryPointId="HeadlessService"
                type="Qnx/Elf">assets/pushHeadless</asset>
            <asset entryPointId="HeadlessUI"
                type="Qnx/Elf">wwe</asset>

            <!-- see https://developer.blackberry.com/native/documentation/cascades/device_platform/headless_apps/create_headless_app.html#modifyentrypoints -->
            <entryPoint id="HeadlessUI">
                <entryPointType>Qnx/WebKit</entryPointType>
            </entryPoint>
            <entryPoint id="HeadlessService">
                <name>Headless Service</name>
                <entryPointType>Qnx/Elf</entryPointType>

                <!-- permissions required for headless portion -->
                <permission system="true">_sys_run_headless</permission>
                <permission>read_device_identifying_information</permission>

                <!-- This permission is needed for a consumer (public) push application only (not enterprise push)! Uncomment if doing a consumer push. -->
                <!--    <permission system="true">_sys_use_consumer_push</permission> -->
            </entryPoint>

            <!-- see https://developer.blackberry.com/native/documentation/cascades/device_platform/headless_apps/create_headless_app.html#addinvocationframeworksupportfortriggers -->
            <invoke-target id="com.example.HeadlessService">
                <invoke-target-type>application.headless</invoke-target-type>
                <invoke-target-name>Headless Service</invoke-target-name>
                <entry-point-id>HeadlessService</entry-point-id>
                <filter>
                    <action>bb.action.system.STARTED</action>
                    <mime-type>application/vnd.blackberry.system.event.STARTED</mime-type>
                    <property var="uris" value="data://local" />
                </filter>
                <filter>
                    <action>bb.action.START</action>
                    <mime-type>*</mime-type>
                    <property var="uris" value="headless:"/>
                </filter>
            </invoke-target>
            <invoke-target id="com.example.pushHeadless.invoke.push">
                <invoke-target-type>application</invoke-target-type>
                <entry-point-id>HeadlessUI</entry-point-id>
                <filter>
                    <action>bb.action.PUSH</action>
                    <mime-type>application/vnd.push</mime-type>
                </filter>
            </invoke-target>
        </config-file>
    </platform>
</widget>
